@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card .img img{
    width:140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left top, #031A9A, #8B53FF);
    padding: 0 35px;
    flex-direction: column-reverse;
}
button.ex-catalog {
    border-radius: 40px;
    border: 2px white;
    position: relative;
    top: 28px;
}
.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.card span{
    color:#6a6d78;
    font-size: 1.31rem;
}
.carousel :where(.card, .img){
    display: flex;
    align-items:center;
    justify-content:center;
}
.carousel .card {
    height: 342px;
    list-style: none;
    background:white;
    border-radius: 8px;
    display: flex;
    align-items:center;
    cursor: pointer;
    padding-bottom: 15px;
    justify-content:center;
    flex-direction: column;
}
.card .img {
    background: rgb(120, 120, 224);
    width: 148px;   
    height: 148px;
    border-radius: 50%;
}
#wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
#wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3 ) - 12px) ;
    overflow-x: auto;
    gap: 16px;
     overflow: hidden;  
     scroll-behavior: smooth;
}
.carousel.dragging{
    scroll-behavior: auto;
}
.carousel.dragging .card{
    cursor:pointer;
    user-select: none;;
}
#wrapper i:first-child{
    left: -22px;
}
#wrapper i:last-child{
    right: -22px;
}
#wrapper i{
    position: absolute;
    height: 50px;
    width: 50px;
    background:white;
    text-align: center;
    line-height: 50px;
    border-radius:50%;
    cursor: pointer;

    top: 50%;
     font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px  6px rgba(0, 0, 0, 0.23);
 
}

@media screen and (max-width: 900px) {
    #wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    #wrapper .carousel {
      grid-auto-columns: 100%;
    }

  }





  
  .menubtn {
    position: relative;
    top: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 100px;
    height: 59px;
}

.hidden{
    display: none;
}
#wrapper .hidden{
    display: none;
}
#imgEx .hidden{
    display: none;
}
.show{
    display: block;
}


img.exit {
    width: 45px;
}
.ex-catalog:hover{
    color: white;
    border-color:  2px solid white;
    background-color: rgb(15, 147, 156);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #wrapper {
        max-width: 1100px;
        width: 100%;
        position: relative;
    }
    .carousel .card {
        height: 284px;

    }

}

@media screen and (max-width:  525px) {
    .carousel .card {
        height: 291px;
    
}
    
}


